<div ng-include src="'views/header.html'"></div>
<div class="page-header">
	<h3>บริหารจัดการข้อมูล > บริหารจัดการข้อมูล MOU</h3>
</div>
<div class="col-lg-12 table-responsive">
	<table class="table table-bordered table-striped">
		<caption>
			<button class="btn btn-danger pull-right" ng-click="goUpdate('')">
				<span class="glyphicon glyphicon-plus"></span> 
				เพิ่มรายการ
			</button>
		</caption>
		<thead>
			<tr>
				<th>Last Update</th>
				<th>ชื่อสหกรณ์</th>
				<th>ประจำปี</th>
				<th>วันที่เริ่ม</th>
				<th>วันที่สิ้นสุด</th>
				<th>ปริมาณที่ระบุใน MOU</th>
				<th>บริหารจัดการ</th>
			</tr>
		</thead>
		<tbody ng-repeat="data in List">
			<tr style="background-color: #B6CCFF; padding: 5px;">
				<td colspan="7">{{getRegionName(data.region_id)}}</td>
			</tr>
			<tr ng-repeat="sub_data in data.Data">
				<td>{{sub_data.update_date}}</td>
				<td>{{sub_data.cooperative_name}}</td>
				<td>{{sub_data.years + 543}}</td>
				<td>{{getThaiDate(sub_data.start_date)}}</td>
				<td>{{getThaiDate(sub_data.end_date)}}</td>
				<td>{{sub_data.mou_amount}}</td>
				<td>
					<button class="btn btn-success" ng-click="goUpdate(sub_data.id)">
						<span class="glyphicon glyphicon-edit"></span> 
						แก้ไข
					</button>
					<button class="btn btn-danger" ng-click="removeData(data.id)">
						<span class="glyphicon glyphicon-trash"></span> 
						ลบ
					</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>