<div ng-include src="'views/header.html'"></div>
<div class="page-header">
	<h3>ข้อมูลกิจการโคนม  >  ข้อมูลฝูงโค อ.ส.ค.</h3>
</div>
<div class="col-lg-10 col-lg-offset-1" ng-form="form_data">
	<div class="row form-group">
		<div class="field-label col-lg-1 col-md-1 col-sm-12 col-xs-12">
			ชื่อสหกรณ์
		</div>
		<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
			<select class="form-control" ng-model="Sperm.cooperative_id" ng-options="data.id as data.cooperative_name for data in Cooperative" required="required">
				<option value="">กรุณาเลือก..</option>
			</select>
		</div>
		<div class="field-label col-lg-1 col-md-1 col-sm-12 col-xs-12">
			เดือน
		</div>
		<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
			<select name="Year" class="form-control" ng-model="Sperm.months" ng-options="month.monthValue as month.monthText for month in MonthList" required="required">
					<option value="">กรุณาเลือก..</option>
				</select>
		</div>
		<div class="field-label col-lg-1 col-md-1 col-sm-12 col-xs-12">
			ปี
		</div>
		<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
			<select name="Year" class="form-control" ng-model="Sperm.years" ng-options="year.yearText as year.yearValue for year in YearList" required="required">
					<option value="">กรุณาเลือก..</option>
				</select>
		</div>
		<div class="field-label col-lg-1 col-md-1 col-sm-12 col-xs-12">
			<button class="btn btn-info" ng-click="goSearch(Sperm)" ng-disabled="!form_data.$valid">
				<span class="glyphicon glyphicon-search"></span> 
				ค้นหา
			</button>
		</div>
	</div>
	<hr>
	<div ng-show="Search || SpermDetailList.length > 0">
		<div class="row form-group">
			<label class="col-lg-12 form-control-static">
				สหกรณ์ : {{CooperativeName}}
			</label>
			<label class="col-lg-12 form-control-static">
				 เดือน : {{MonthName}}
			</label>
			<label class="col-lg-12 form-control-static">
				ปี : {{YearName}}
			</label>
		</div>
		<div class="row form-group">
			<div class="col-lg-12">
				<button class="btn btn-danger  pull-right" ng-click="addSpermDetail()" ><!--ng-disabled="!form_data.$valid"-->
				<span class="glyphicon glyphicon-plus"></span> 
				เพิม
			</button>
			</div>
		</div>
		<div>
			<fieldset style="border: 1px solid #999; padding: 10px; margin-top: 10px;" ng-repeat="SpermDetail in SpermDetailList" ng-init="parentIndex = $index">
			<div ng-form="sub_form_data">
				<div class="row form-group">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						วันที่แก้ไขล่าสุด {{getThaiDateTimeFromString(SpermDetail.update_date)}}
					</div>
				</div>
				<div class="row form-group" >
					<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						ชื่อฝูงโค
					</div>
					<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						<select class="form-control" ng-model="SpermDetail.cow_group_name" ng-options="data.id as data.name for data in SpermList" required="required">
							<option value="">กรุณาเลือก..</option>
						</select>
					</div>
					<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						รายการ
					</div>
					<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						<select class="form-control" ng-model="SpermDetail.cow_group_item_id" ng-options="data.id as data.goal_name for data in MasterGoalList" required="required">
							<option value="">กรุณาเลือก..</option>
						</select>
					</div>
				</div>
				<div class="row form-group" >
					
					<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						ต้นงวด (ตัว)
					</div>
					<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						<input class="form-control" ng-model="SpermDetail.beginning_period">
					</div>
					<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						มูลค่า (บาท)
					</div>
					<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						<input class="form-control" ng-model="SpermDetail.beginning_period_total_values">
					</div>
				</div>
				
				<div class="row form-group">
					<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						เกิด (ตัว)
					</div>
					<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						<input type="text" class="form-control" ng-model="SpermDetail.total_born">
					</div>
					<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						มูลค่า (บาท)
					</div>
					<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						<input type="text" class="form-control" ng-model="SpermDetail.total_born_values">
					</div>
				</div>
				<div class="row form-group">
					<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						ย้ายเข้า (ตัว)
					</div>
					<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						<input type="text" class="form-control" ng-model="SpermDetail.total_movein">
					</div>
					<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						มูลค่า (บาท)
					</div>
					<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						<input type="text" class="form-control" ng-model="SpermDetail.total_movein_values">
					</div>
				</div>
				<div class="row form-group">
					<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						ซื้อเข้า (ตัว)
					</div>
					<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						<input type="text" class="form-control" ng-model="SpermDetail.total_buy">
					</div>
					<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						มูลค่า (บาท)
					</div>
					<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						<input type="text" class="form-control" ng-model="SpermDetail.total_buy_values">
					</div>
				</div>
				<div class="row form-group">
					<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						ตาย (ตัว)
					</div>
					<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						<input type="text" class="form-control" ng-model="SpermDetail.total_die">
					</div>
					<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						มูลค่า (บาท)
					</div>
					<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						<input type="text" class="form-control" ng-model="SpermDetail.total_die_values">
					</div>
				</div>
				<div class="row form-group">
					<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						ขาย (ตัว)
					</div>
					<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						<input type="text" class="form-control" ng-model="SpermDetail.total_sell">
					</div>
					<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						มูลค่า (บาท)
					</div>
					<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						<input type="text" class="form-control" ng-model="SpermDetail.total_sell_values">
					</div>
				</div>
				<div class="row form-group">
					<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						ขายซาก (ตัว)
					</div>
					<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						<input type="text" class="form-control" ng-model="SpermDetail.total_sell_carcass">
					</div>
					<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						มูลค่า (บาท)
					</div>
					<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						<input type="text" class="form-control" ng-model="SpermDetail.total_sell_carcass_values">
					</div>
				</div>
				<div class="row form-group">
					<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						ย้ายออก (ตัว)
					</div>
					<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						<input type="text" class="form-control" ng-model="SpermDetail.total_moveout">
					</div>
					<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						มูลค่า (บาท)
					</div>
					<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						<input type="text" class="form-control" ng-model="SpermDetail.total_moveout_values">
					</div>
				</div>
				<div class="row form-group">
					<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						คัดทิ้ง (ตัว)
					</div>
					<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						<input type="text" class="form-control" ng-model="SpermDetail.total_cutout">
					</div>
					<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						มูลค่า (บาท)
					</div>
					<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						<input type="text" class="form-control" ng-model="SpermDetail.total_cutout_values">
					</div>
				</div>
				<div class="row form-group" >
					<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						ปลายงวด (ตัว)
					</div>
					<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						<input class="form-control" ng-model="SpermDetail.last_period">
					</div>
					<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						มูลค่า (บาท)
					</div>
					<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						<input class="form-control" ng-model="SpermDetail.last_period_total_values">
					</div>
				</div>
			</div>
			<br><br>
			</fieldset>
		</div>
	</div>

	<div class="row form-group">
		<label class="form-control-static col-lg-12">
			<h4>น้ำนมดิบที่ผลิตได้ทั้งหมด (กิโลกรัม)</h4>
		</label>
	</div>
	<div class="row form-group">
		<div class="col-lg-10 col-lg-offset-1">
			<table class="table">
				<tr>
					<th>&nbsp;</th>
					<th>น้ำหนัก (กิโลกรัม)</th>
					<th>ราคาเฉลี่ย (บาท/กิโลกรัม)</th>
					<th>มูลค่ารวม (บาท)</th>
				</tr>
				<tr>
					<td>ส่งเข้าโรงงาน</td>
					<td><input type="number" class="form-control" ng-model="Sperm.go_factory_weight"></td>
					<td><input type="number" class="form-control" ng-model="Sperm.go_factory_price"></td>
					<td><input type="number" class="form-control" ng-model="Sperm.go_factory_values"></td>
				</tr>
				<tr>
					<td>เลี้ยงลูกโค</td>
					<td><input type="number" class="form-control" ng-model="Sperm.cow_weight"></td>
					<td><input type="number" class="form-control" ng-model="Sperm.cow_price"></td>
					<td><input type="number" class="form-control" ng-model="Sperm.cow_values"></td>
				</tr>
				<tr>
					<td>เสื่อมคุณภาพ</td>
					<td><input type="number" class="form-control" ng-model="Sperm.decline_weight"></td>
					<td><input type="number" class="form-control" ng-model="Sperm.decline_price"></td>
					<td><input type="number" class="form-control" ng-model="Sperm.decline_values"></td>
				</tr>
			</table>
		</div>
	</div>

	<div class="row form-group">
		<label class="form-control-static col-lg-12">
			<h4> ผลผลิตเฉลี่ยฝุงโค (กิโลกรัม /ตัว/วัน)</h4>
		</label>
	</div>
	<div class="row form-group">
		<div class="form-control-static col-lg-3">
			<input class="form-control" ng-model="Sperm.cow_group_avg">
		</div>
	</div>

	<hr>
	<div class="row form-group">
		<div class="col-lg-12 text-center">
			<button class="btn btn-primary" ng-click="save(Sperm, SpermDetailList)" ng-disabled="!form_data.$valid">
				<span class="glyphicon glyphicon-floppy-save"></span> 
				บันทึก
			</button>
			<button class="btn btn-default" ng-click="cancelUpdate()">
				<span class="glyphicon glyphicon-arrow-left"></span> 
				กลับหน้าหลัก
			</button>
		</div>
	</div>
	
</div>
