<div ng-include src="'views/header.html'"></div>
<div class="page-header">
	<h3>บริหารจัดการข้อมูล > เป้าหมายการดำเนินงาน</h3>
</div>
<fieldset ng-disabled="Data.editable == 'N'">
	<div class="col-lg-10 col-lg-offset-1" ng-form="form_data">
	<!--
		<div class="row form-group">
			<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
				ด้านกิจการ
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
				<select class="form-control" ng-model="Data.goal_type" required="required">
					<option value="">กรุณาเลือก..</option>
					<option value="DBI">ข้อมูลกิจการโคนม</option>
					<option value="II">ข้อมูลอุตสาหกรรม</option>
				</select>
			</div>
		</div>
		<div class="row form-group">
			<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
				รายการ
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
				<input type="text" class="form-control" ng-model="Data.goal_name" maxlength="255" required="required">
			</div>
		</div>
	-->
		<div class="row form-group">
			<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
				ปีงบประมาณ
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
				<select name="Year" class="form-control" ng-model="Data.years" ng-options="year.yearText as year.yearValue for year in YearList" required="required">
					<option value="">กรุณาเลือก</option>
				</select>
			</div>
		</div>
		<div class="row form-group">
			<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
				พื้นที่รับผิดชอบ
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
				<select name="Year" class="form-control" ng-model="Data.region_id" ng-options="region.RegionID as region.RegionName for region in PersonRegion" required="required">
					<option value="">กรุณาเลือก</option>
				</select>
			</div>
		</div>
		<div class="row form-group">
			<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
				ด้านกิจการ
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
				<select class="form-control" ng-model="Data.goal_type">
					<option value="">กรุณาเลือก..</option>
					<option value="DBI">ข้อมูลกิจการโคนม</option>
					<option value="II">ข้อมูลอุตสาหกรรม</option>
				</select>
			</div>
		</div>
		<div class="row form-group">
			<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
				ข้อมูล
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
				<select class="form-control" ng-model="Data.menu_type" ng-change="loadMasterGoalList('master-goal/list', Data.menu_type)">
					<option value="">กรุณาเลือก..</option>
					<option value="ผสมเทียม">ผสมเทียม</option>
					<option value="แร่ธาตุ พรีมิกซ์ และอาหาร">แร่ธาตุ พรีมิกซ์ และอาหาร</option>
					<option value="ผลิตน้ำเชื้อแช่แข็ง">ผลิตน้ำเชื้อแช่แข็ง</option>
					<option value="จำหน่ายน้ำเชื้อแช่แข็ง">จำหน่ายน้ำเชื้อแช่แข็ง</option>
					<option value="วัสดุผสมเทียมและอื่นๆ">วัสดุผสมเทียมและอื่นๆ</option>
					<option value="ปัจจัยการเลี้ยงโค">ปัจจัยการเลี้ยงโค</option>
					<option value="ฝึกอบรม">ฝึกอบรม</option>
					<option value="ท่องเที่ยว">ท่องเที่ยว</option>
					<option value="สหกรณ์และปริมาณน้ำนม">สหกรณ์และปริมาณน้ำนม</option>
					<option value="ข้อมูลฝูงโค">ข้อมูลฝูงโค</option>
				</select>
			</div>
		</div>
		<div class="row form-group">
			<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
				รายการ
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
				<select name="Year" class="form-control" ng-model="Data.goal_id" ng-options="goal.id as goal.goal_name for goal in MasterGoalList">
					<option value="">กรุณาเลือก</option>
				</select>
			</div>
		</div>
		<div class="row form-group">
			<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
				ปริมาณ
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
				<input type="number" class="form-control" ng-model="Data.amount" required="required">
			</div>
		</div>
		<div class="row form-group">
			<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
				หน่วย
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
				<select class="form-control" ng-model="Data.unit">
					<option value="">กรุณาเลือก..</option>
					<option value="ครั้ง">ครั้ง</option>
					<option value="ตัน">ตัน</option>
					<option value="ร้อยละ">ร้อยละ</option>
					<option value="ครั้ง">ครั้ง</option>
					<option value="หลอด">หลอด</option>
				</select>
			</div>
		</div>
		<div class="row form-group">
			<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
				มูลค่า
			</div>
			<div class="col-lg-6 col-md-6 col-sm-10 col-xs-10">
				<input type="number" class="form-control" ng-model="Data.price_value" required="required">
			</div>
			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
				บาท
			</div>
		</div>
		<div class="row form-group">
			<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-2">
				<button class="btn btn-info" ng-click="avgData(Data)" ng-disabled="Data.amount == null || Data.price_value == null">
					กำหนดรายเดือน
				</button>
			</div>
		</div>
		<div ng-show="avgList.length > 0">
			<div class="row form-group">
				<div class="col-lg-12"  style="background-color: #B6CCFF; padding: 5px;">
					<b>เฉลี่ยเป้าหมายรายเดือน</b>
				</div>
			</div>
			<div class="row form-group">
				<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 col-lg-offset-4 col-md-offset-4">
					จำนวน {{Data.unit}}
				</div>
				<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					มูลค่า
				</div>
			</div>
			<div class="row form-group" ng-repeat="data in avgList">
				<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-2">
					<span class="pull-right">{{getMonthYearText(data.avg_date)}}</span>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<input type="number" class="form-control" ng-model="data.amount" required="required">
				</div>
				<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<input type="number" class="form-control" ng-model="data.price_value" required="required">
				</div>
			</div>
			<div class="row form-group">
				<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-2">
					<span class="pull-right">รวม</span>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<input type="number" class="form-control" ng-model="totalAmount" readonly="true">
				</div>
				<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<input type="number" class="form-control" ng-model="totalPriceValue" readonly="true">
				</div>
			</div>
		</div>
		<hr>
		</fieldset>
		<div class="row form-group">
			<div class="col-lg-12 text-center">
				<button class="btn btn-primary" ng-click="save(Data, avgList)" ng-disabled="!form_data.$valid || Data.editable == 'N'">
					<span class="glyphicon glyphicon-floppy-save"></span> 
					บันทึก
				</button>
				<button class="btn btn-default" ng-click="cancelUpdate()">
					<span class="glyphicon glyphicon-arrow-left"></span> 
					กลับหน้าหลัก
				</button>
			</div>
		</div>	
		<div ng-show="historyList.length > 0">
			<div class="row form-group">
				<div class="col-lg-12"  style="background-color: #B6CCFF; padding: 5px;">
					<b>ประวัติการเปลี่ยนแปลง</b>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<table class="table table-bordered table-striped">
						<thead>
							<tr>	
								<td>วันที่เปลี่ยนแปลง</td>
								<td>รายการ</td>
								<td>จำนวน</td>
								<td>มูลค่า</td>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="data in historyList">
								<td>{{data.change_date}}</td>
								<td>{{getMonthYearText(data.avg_date)}}</td>
								<td>{{data.amount}}</td>
								<td>{{data.price_value}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
