<div ng-include src="'views/header.html'"></div>
<div class="page-header">
	<h3>ข้อมูลกิจการโคนม  >  ข้อมูลการฝึกอบรมการเลี้ยงโคนม</h3>
</div>
<div class="col-lg-10 col-lg-offset-1" ng-form="form_data">
	<div class="row form-group">
		<!--<div class="field-label col-lg-1 col-md-1 col-sm-12 col-xs-12">
			ชื่อสหกรณ์
		</div>
		<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
			<select class="form-control" ng-model="Sperm.cooperative_id" ng-options="data.id as data.cooperative_name for data in Cooperative" required="required">
				<option value="">กรุณาเลือก..</option>
			</select>
		</div>-->
		<div class="field-label col-lg-1 col-md-1 col-sm-12 col-xs-12 col-lg-offset-2  col-md-offset-2">
			เดือน
		</div>
		<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
			<select name="Year" class="form-control" ng-model="Sperm.months" ng-options="month.monthValue as month.monthText for month in MonthList" required="required">
					<option value="">กรุณาเลือก..</option>
				</select>
		</div>
		<div class="field-label col-lg-1 col-md-1 col-sm-12 col-xs-12">
			ปี
		</div>
		<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
			<select name="Year" class="form-control" ng-model="Sperm.years" ng-options="year.yearText as year.yearValue for year in YearList" required="required">
					<option value="">กรุณาเลือก..</option>
				</select>
		</div>
		<div class="field-label col-lg-1 col-md-1 col-sm-12 col-xs-12">
			<button class="btn btn-info" ng-click="goSearch(Sperm)" ng-disabled="!form_data.$valid">
				<span class="glyphicon glyphicon-search"></span> 
				ค้นหา
			</button>
		</div>
	</div>
	<hr>
	<div ng-show="Search || SpermDetailList.length > 0">
		<div class="row form-group">
			<label class="col-lg-12 form-control-static">
				 เดือน : {{MonthName}}
			</label>
			<label class="col-lg-12 form-control-static">
				ปี : {{YearName}}
			</label>
		</div>
		<div class="row form-group">
			<div class="col-lg-12">
				<button class="btn btn-danger  pull-right" ng-click="addSpermDetail()" ><!--ng-disabled="!form_data.$valid"-->
				<span class="glyphicon glyphicon-plus"></span> 
				เพิม
			</button>
			</div>
		</div>
		<div>
			<fieldset style="border: 1px solid #999; padding: 10px; margin-top: 10px;">
			<div ng-form="sub_form_data">
				<div class="row form-group" ng-repeat="SpermDetail in SpermDetailList" ng-init="parentIndex = $index">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						วันที่แก้ไขล่าสุด {{getThaiDateTimeFromString(SpermDetail.update_date)}}
					</div>
					<div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
						รายการ
					</div>
					<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						<select class="form-control" ng-model="SpermDetail.training_cowbreed_type_id" ng-options="data.id as data.goal_name for data in MasterGoalList" ><!--ng-change="loadDairyFarming('CHILD', SpermDetail.dairy_farming_id)" -->
							<option value="">กรุณาเลือก..</option>
						</select>
					</div>
					<div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
						จำนวน (ราย)
					</div>
					<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						<input type="text" class="form-control" ng-model="SpermDetail.amount">
					</div>
					<div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
						มูลค่า (บาท)
					</div>
					<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						<input type="text" class="form-control" ng-model="SpermDetail.values">
					</div>
					<div class="col-lg-1 col-md-1">
						<button class="btn btn-danger" ng-click="removeDetail(SpermDetail.id, parentIndex)">
							<span class="glyphicon glyphicon-trash"></span> 
							
						</button>
					</div>
				</div>
				<!--<div class="row form-group">
					<div class="col-lg-12">
						<button class="btn btn-primary pull-right" ng-click="addSpermItem($index)">
							<span class="glyphicon glyphicon-plus"></span> 
							เพิ่มรายการ
						</button>
					</div>
				</div>-->
			</div>
			<br><br>
			</fieldset>
		</div>
	</div>
	<hr>
	<div class="row form-group">
		<div class="col-lg-12 text-center">
			<button class="btn btn-primary" ng-click="save(Sperm, SpermDetailList)" ng-disabled="!form_data.$valid">
				<span class="glyphicon glyphicon-floppy-save"></span> 
				บันทึก
			</button>
			<button class="btn btn-default" ng-click="cancelUpdate()">
				<span class="glyphicon glyphicon-arrow-left"></span> 
				กลับหน้าหลัก
			</button>
		</div>
	</div>
	
</div>
